
.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
}

.miama-font{
    font-family: 'Miama', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    
}

*{
    margin: 0;
}

.body-color{
    background-color: black;
}
/* shared styles */
.deafult-margin{
    width: 80%;
    margin: 0 auto;
}
.text-color{
    color: white;
}

/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
header{
    /* background: linear-gradient(rgb(255, 255, 255) 100%); */
    background: linear-gradient(to top, rgba(255,255,255,0.15) 20%, rgba(0,0,0,0.15) 80%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 10%, rgba(0,0,0,0.15) 60%);
}
.logo{
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
    color: #E6533C;
    cursor: pointer;
}
.nav-option{
    font-size: .8rem;
    color: white;
    display: flex;
    gap: 2rem;
    border: 0.2px solid #ffffff2c;
    border-radius: 50px;
    padding: 15px 25px 15px 5px;
    margin-top: 40px;

}
.home{
    background-color: #E6533C;
    color: white;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 600;

}
.ham-burger{
    display: none;
}

/* banner styles */

.banner-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.banner-title{
    font-size: 4.8rem;
    font-weight: 900;
    color: white;
    width: 520px;
}
.shape{
    font-size: 10rem;
    line-height: 0%;
   
}
.banner-description{
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.349);
    width: 520px;
    margin-top: 20px;
    margin-bottom: 30px; 
}
.btn-primary{
    background-color: #E6533C;
    border: none;
    border-radius: 20px;
    padding: 12px 30px 12px 30px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

.btn-primary-1{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 12px 30px 12px 30px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    margin-left: 10px;
}


.card-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}
.card-description{
    font-size: 1rem;
    font-weight: 400;
    color: white;
}
.circle{
    font-size: 2rem;
    color: #E6533C;
}
.body-builder{
    position: relative;
}

.card-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: .2px solid rgba(219, 219, 219, 0.137);
    border-radius: 15px;
    padding: 20px 20px;
    width: 150px;
    position: absolute;
    top: 85%;
    left: 57%;
}

.card-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: .2px solid rgba(219, 219, 219, 0.137);
    border-radius: 15px;
    padding: 20px 20px;
    width: 150px;
    position: absolute;
    top: 48%;
    right: 3%;
}
.card-2-title{
    font-size: 2rem;
    font-weight: 800;
    color: white;
}
.card-2-description{
    font-size: .8rem;
    font-weight: 400;
    color: white;
}

/* Change your habits style */
.section-container{
    margin: 80px auto 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.section-title{
    font-size: 2.9rem;
    font-weight: 800;
    color: white;
    text-align: center;
}

.section-description{
    font-size: .9rem;
    font-weight: 400;
    color: rgba(145, 145, 145, 0.575);
    width: 550px;
    text-align: center;

    
}
.habits-card-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

   
}
.habits-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.habits{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(128, 128, 128, 0.425);
    width: 190px;
    height: 190px;
    border: none;
    border-radius: 100px;
}

.habits-image{
    border: .8px solid rgba(214, 214, 214, 0.377);
    border-radius: 100px;
    width: 180px;
    height: 180px;

}

.habits-card-title{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

.habits-card-description{
    font-size: .8rem;
    font-weight: 400;
    color: rgba(155, 155, 155, 0.616);
    width: 230px;
    text-align: center;

}
/* Run an Extra Mile Styles */
.extra-mile-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 120px;
    background-color: rgba(189, 189, 189, 0.13);
    border: none;
    border-radius: 20px;
    padding: 30px 50px;
   
}

.extra-mile-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    gap: 20px;

}
.mile-title{
    width: 300px;
    text-align: left;
}

.mile-description{
    text-align: left;
    width: 450px;
}

.btn-mile{
    background-color: #E6533C;
    border: none;
    border-radius: 20px;
    padding: 12px 30px 12px 30px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}
.run-images{
   border: none;
   border-radius: 20px;
}

/* BMI Calculator */

.bmi-main-container{
    background-color: rgba(94, 94, 94, 0.26);
    padding: 25px 0;
    margin-bottom: 30px;
}

.bmi-container{
    display: flex;
    gap: 150px;
    
}

.bmi-chart{
    /* width: 400px; */
}

.bmi-header{
    margin-bottom: 70px;

}

.bmi-title{
    font-size: 2.5rem;
    text-align: left;
    margin: 0 auto;
    margin-left: 400px;
}
.bmi-description{
    text-align: left;
    margin: 0 auto;
}

.chart-title{
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-bottom: 50px;
}

.chart-table{
    color: rgb(146, 146, 146);
    border: .8px solid rgb(92, 92, 92);
    margin-bottom: 20px;

}

table{
    border-collapse: collapse;
}

th, td{
    padding: 12px;
    text-align: left;
    border: .8px solid rgba(92, 92, 92, 0.418);
}


.calculate-title{
    margin-bottom: 10px;
}
.calculate-description{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(172, 172, 172, 0.699);
    width: 600px;
    margin-bottom: 15px;
}

input, select{
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 10px;
    padding: 0 20px;
    color: rgb(219, 219, 219);
    background-color: rgba(150, 150, 150, 0.274);
    font-size: 1rem;
}

.bmi-input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    position: relative;

}
.bmi-sex{
    width: 288px;
}

.bmi-input-2{
    width: 600px;
    margin-top: 15px;
}
.btn-bmi{
    position: absolute;
    left: 610px;
    bottom: -1750px;
}
/* Meet Our Team Styles */
.meet-description{
    margin: 0 auto;
}

.meet-header{
    margin-top: 50px;
    margin-bottom: 50px;
}

.team-container{
    background-color: rgba(209, 209, 209, 0.137);
    border: none;
    border-radius: 15px;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;

}
.row-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
.row-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.team-member{
    position: relative;
}
.trainer-name{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    position: absolute;
    top: 70%;
    left: 10%;
    

}

.trainer-position{
    font-size: .9rem;
    font-weight: 400;
    color: rgb(177, 177, 177);
    position: absolute;
    top: 79%;
    left: 10%;
    

}

.trainer{
    width: 320px;
    height: 250px;
    border: none;
    border-radius: 10px;
    
}

/* Our Blogs */
.blog-description{
    margin: 0 auto;
    font-size: 1rem;
    color: rgb(216, 216, 216);
    font-style: italic;
}
.blog-header{
    margin-bottom: 50px;
}
.blog-container{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.blog-image{
    border: none;
    border-radius: 15px;
    width: 350px;
    height: 250px;
}

.blog-date{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255, 54, 54);
    margin-bottom: 5px;
    cursor: pointer;
    
}
.blog-title{
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    width: 300px;
    font-style: italic;
    margin-bottom: 10px;
    cursor: pointer;

}
  
.blog-description-2{
    font-size: .9rem;
    font-weight: 400;
    color: rgba(179, 179, 179, 0.555);
    width: 350px;
}




/* Responsive */

@media screen and (max-width:576px) {
    nav{
        margin-top: 100px;
    }
    
    .ham-burger{
        display: block;
        font-size: 2rem;
        color: white;
    }
   
    .nav-option{
        display: none;
    }
   

    .banner-container{
        display: grid;
        grid-template-columns: 1fr;
       
    }
    .banner-title{
        font-size: 3rem;
        font-weight: 800;
        color: white;
        width: 320px;

    }

    .shape{
        font-size: 6rem;
        line-height: 0%;
    }

    .banner-description{
        font-size: .rem;
        color: rgba(255, 255, 255, 0.349);
        width: 340px;
        margin-top: 20px;
        margin-bottom: 30px; 
    }

    .card-1{
        position: relative;
        top: -340px;
        left: 1%;
    }
    
    .card-2{
        position: relative;
        top: -600px;
        left: 200px;
        width: 120px;
    }
    
    .card-2-title{
        font-size: 1.8rem;
        font-weight: 800;
        color: white;
    }
    .card-2-description{
        font-size: .6rem;
        font-weight: 400;
        color: white;
    }
    .btn-primary-1{
        margin-left: 5px;
    }

/* Change Your Habits Responsive */
.section-title{
    font-size: 2rem;
    font-weight: 700;
    color: white;
    text-align: center;
}

.section-description{
    font-size: .8rem;
    font-weight: 400;
    color: rgba(145, 145, 145, 0.575);
    width: 300px;
    text-align: center;
}
.section-container{
    margin: 20px auto;
}
.habits-card-container{
    flex-direction: column;
    gap: 40px;
}

/* Run an Extra Mile */
.extra-mile-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(189, 189, 189, 0.13);
    border: none;
    border-radius: 20px;
    padding: 30px 50px;
   
}

.extra-mile-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.mile-title{
    font-size: 2rem;
    text-align: left;
    width: 280px;
    
}

.mile-description{
    text-align: left;
    width: 300px;
}
.run-images{
   border: none;
   border-radius: 20px;
   width: 300px;
   height: 250px;
}
/* BMI Responsive */
.bmi-container{
    flex-direction: column;
    gap: 50px;
}

.bmi-title{
    font-size: 2rem;
    text-align: left;
    margin: 0 auto;
    margin-left: 60px;
    margin-bottom: 10px;
}
.bmi-description{
    font: 2rem;
    text-align: left;
    margin: 0 auto;
}

.bmi-header{
    margin-bottom: 30px;

}

.chart-title{
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
}

.chart-table{
    margin-bottom: 1px;

}

input, select{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 0 20px;
    color: rgb(175, 175, 175);
    background-color: rgba(128, 128, 128, 0.274);
    font-size: .9rem;
}

.bmi-sex{
    width: 160px;
}

.bmi-input-2{
    width: 338px;
    margin-top: 15px;
}
.btn-bmi{
    /* margin-left: 620px; */
    position: relative;
    bottom: -10px;
    left: 7px;
}

.calculate-description{
    font-size: .9rem;
    font-weight: 400;
    color: rgba(128, 128, 128, 0.699);
    width: 320px;
    margin-bottom: 15px;
}

/* Meet our Team */
.meet-header{
    margin-top: 30px;
    margin-bottom: 30px;
}

.team-container{
    background-color: rgba(209, 209, 209, 0.137);
    border: none;
    border-radius: 15px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}
.row-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.row-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.team-member{
    position: relative;
}
.trainer-name{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    position: absolute;
    top: 70%;
    left: 10%;

}

.trainer-position{
    font-size: .9rem;
    font-weight: 400;
    color: rgb(177, 177, 177);
    position: absolute;
    top: 79%;
    left: 10%;

}

.trainer{
    width: 280px;
    height: 220px;
    border: none;
    border-radius: 10px;
    
}

/* Recent Blog Responsive */
.blog-header{
    margin-bottom: 30px;
}
.blog-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 20px;
}

.blog-image{
    border: none;
    border-radius: 15px;
    width: 350px;
    height: 250px;
}

.blog-date{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255, 54, 54);
    margin-bottom: 5px;
    cursor: pointer;
    
}



}